* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

@mixin transition($duration: 0.25s) {
  transition: all $duration linear;
}

body {
  background-color: #f2f2f2;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

li {
  list-style: none;
}
